
  <div class="text-center">
    <h1 class="display-4 black mt-lg-5"
        [style]="styleDeactivate">
      Profiles
    </h1>
  </div>
  <div class="" [style]="styleDeactivate">
    <div class="container  p-lg-5">
      <!-- Head -->
      <div class="row">
        <div *ngFor="let head of headElements"
             class="col-lg-3 center black text-uppercase font-weight-bold">
          {{head}}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <input type="text" (keyup)="usernameAndEmailOnInput($event)"
                 class="table_elem font-italic" [(ngModel)]="searchUsername"
                 placeholder="Search Username"
                 (click)="clickSearchEmailUsername()">
        </div>
        <div class="col-lg-3">
          <input type="text" (keyup)="usernameAndEmailOnInput($event)"
                 class="table_elem font-italic"
                 [(ngModel)]="searchEmail" placeholder="Search Email"
                 (click)="clickSearchEmailUsername()">
        </div>
        <div class="col-lg-3 center">
          <label>
            <select [(ngModel)]="role"
                    (click)="chooseSearchRole()"
                    class="choose-role font-italic">
              <option value="ALL">All roles</option>
              <option value="ADMIN">Admin</option>
              <option value="MANAGER">Manager</option>
              <option value="ENGINEER">Engineer</option>
            </select>
          </label>
        </div>
      </div>
      <!-- Users -->
      <div *ngFor="let el of elements.users
				let i = index" [style.background-color]="rowColorName[i]"
           class="row">
        <div class="col-lg-3 my-auto">
          <label>
            <input type="text" [(ngModel)]="el.name" class="table_elem"
                   [disabled]="disabledPersonalData[i]">
          </label>
        </div>
        <div class="col-lg-3 my-auto">
          <label>
            <input type="text" [(ngModel)]="el.email" class="table_elem"
                   [disabled]="disabledPersonalData[i]">
          </label>
        </div>
        <div class="col-lg-3 my-auto">
          <label>
            <select [(ngModel)]="el.role" [disabled]="disabledPersonalData[i]"
                    class="table_elem choose-role-table">
              <option value="ADMIN">Admin</option>
              <option value="MANAGER">Manager</option>
              <option value="ENGINEER">Engineer</option>
            </select>
          </label>
        </div>
        <div class="col-lg-1 my-auto">
          <input type="button" (click)="editPersonalInformation(i)" [hidden]="isAdmin"
                 [(ngModel)]="textOnButtonUpdate[i]" class="bth btn-lg cheetah-color full-width border-white">
        </div>
        <div class="col-lg-2 my-auto">
          <input type="button" (click)="pressDelete(i)" [hidden]="isAdmin"
                 [(ngModel)]="deleteButton" class="bth danger-color btn-lg full-width border-white">
        </div>
      </div>
      <div class="warning-result">
        {{existUser}}
      </div>
    </div>
  </div>
  <ngb-pagination [style]="styleDeactivate"
                  [(page)]="numPage"
                  [collectionSize]="elements.totalElements"
                  [pageSize] = "pageSize"
                  [maxSize]="3"
                  [rotate]="true"
                  [boundaryLinks]="true"
                  (pageChange)="pageChange(numPage)"
                  class="pagination">
  </ngb-pagination>
  <div [hidden]="disabledPasswordAdmin" class="panel-confirm">
    <input id="password" type="password" class="password-field"
           placeholder="Admin password" [(ngModel)]="adminPassword">
    <input type="button" (click)="confirmClose()" value="Close"
           class="button-confirm button-close">
    <input type="button" (click)="confirmAdminPassword()" [value]="textAgreeConfirmPanel"
           class="button-confirm button-submit danger-color">
  </div>
  <div class="row mt-10">
    <div class="col-lg-9"></div>
    <input type="button"  (click)="createUser()" [hidden]="isAdmin"
           class="col-md-1 btn-success border-white border-rad-lrg" value="Create User" [style]="styleDeactivate">
  </div>
